<link rel="stylesheet" href="/css/headerWONav.css" />
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../public/css/headerWONav.css" />
</head>
<div class="headerBoxWONav"><h1>[ Virtual Vault ]</h1></div>
