<nav>
  <a href="/">[home]</a>
  <a href="/search">[search games]</a>
  <a href="/search/customers">[search customers]</a>
  <form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Logout</button>
  </form>
</nav>
