<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtual Vault Customer Search</title>
    <link rel="stylesheet" href="custSearch.css">
  </head>
  <body>
    <div class="header">
    <h1>Virtual Vault</h1>
  </div>
  <div class="navbar">
    <%- include('./partials/nav.ejs') %>
  </div>
    <br />

    <h2 class="game-search-title">Game Search</h2>
    <form id="searchForm" action="/search/customers/results" method="post">
      <input
        type="text"
        id="searchInput"
        name="searchText"
        placeholder="Enter keywords"
        required class="search-input"
      />
      <button type="submit" class="search-button">Search</button>
    </form>
  </body>
</html>
