<%- include('./partials/headerWONav.ejs') %>
<%- include('./partials/nav.ejs') %>
    <title>Virtual Vault Customer Search</title>
    <link rel="stylesheet" href="/css/search.css">
  <body>
    <div class="content">
      <h2 class="customer-search-title">Customer Search</h2>
      <form id="customerSearchForm" action="/search/customers/results" method="post">
        <input
          type="text"
          id="customerSearchInput"
          name="searchText"
          placeholder="Enter keywords"
          required class="search-input"
        />
        <button type="submit" class="search-button">Search</button>
      </form>
    </div>
  </body>
</html>
