<%- include('./partials/headerWONav.ejs') %> <%-include('./partials/nav.ejs')%>
<link rel="stylesheet" href="/css/index.css" />
<body>
  <div class="picBox">
    <div class="indexMain">
      <img src="/css/media/GraphVV.png" alt="Graph of sales" />
    </div>
  </div>
</body>
<%- include('./partials/foot.ejs') %>
