<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <h1>Virtual Vault</h1>
    <%- include('./partials/nav.ejs') %>
    <h2>{Slogan}</h2>
  </body>
  <%- include('./partials/foot.ejs') %>
</html>
