<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>
    <title>Virtual Vault Game Search</title>
    <link rel="stylesheet" href="/css/search.css">
  <body>
    <br />
    <div class="content">
      <h2 class="game-search-title">Game Search</h2>
    <form id="searchForm" action="/search/results" method="post">
      <input
        type="text"
        id="searchInput"
        name="searchText"
        placeholder="Enter keywords"
        required class="search-input"
      />
      <button type="submit" class="search-button">Search</button>
    </form>
  </div>
  </body>
</html>
