@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
  font-size: 13px;
}

nav {
  background-color: #bbead0;
  padding: 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}

nav .nav-links {
  display: flex;
  align-items: center;
}

nav a {
  color: #000000;
  text-decoration: none;
  margin-right: 20px;
}

nav button {
  background-color: #d9d9d9;
  color: #000000;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  font-family: "JetBrains Mono", monospace;
  min-width: 100px;
}

nav a:hover {
  text-decoration: underline;
}

nav button:hover {
  background-color: #cccccc;
}
